__pycache__/mainwindow.cpython-312.pyc
automated_tasks/__pycache__/__init__.cpython-312.pyc
automated_tasks/subtasks/__pycache__/__init__.cpython-312.pyc
automated_tasks/subtasks/__pycache__/close_browser.cpython-312.pyc
automated_tasks/subtasks/__pycache__/initialize_browser.cpython-312.pyc
automated_tasks/subtasks/__pycache__/navigate_to.cpython-312.pyc
automated_tasks/tasks/__pycache__/__init__.cpython-312.pyc
